RUX_BIND_ADDRESS="127.0.0.1:8080"
RUX_DATABASE_URL={{ ('postgres://' ~ rux_database_user ~ ':' ~ (rux_postgres_password | urlencode) ~ '@127.0.0.1:5432/' ~ rux_database_name) | to_json }}
RUX_STORAGE_ENDPOINT={{ rux_storage_endpoint | to_json }}
RUX_STORAGE_BUCKET={{ rux_storage_bucket | to_json }}
RUX_STORAGE_ACCESS_KEY={{ rux_storage_access_key | to_json }}
RUX_STORAGE_SECRET_KEY={{ rux_storage_secret_key | to_json }}
RUX_STORAGE_REGION={{ rux_storage_region | to_json }}
RUX_STORAGE_FORCE_PATH_STYLE={{ (rux_storage_force_path_style | bool | string | lower) | to_json }}
RUX_PACKAGE_CDN_BASE_URL={{ rux_package_cdn_base_url | to_json }}
RUX_ORPHAN_CLEANUP_INTERVAL_SECONDS="3600"
RUX_ORPHAN_CLEANUP_MIN_AGE_SECONDS="86400"
RUX_ORPHAN_CLEANUP_SCAN_LIMIT="1000"
RUX_ORPHAN_CLEANUP_DELETE_LIMIT="100"
RUX_ALLOWED_WEB_ORIGIN={{ rux_allowed_web_origin | to_json }}
RUX_WEB_CALLBACK_URL={{ rux_web_callback_url | to_json }}
RUX_GITHUB_CLIENT_ID={{ rux_github_client_id | to_json }}
RUX_GITHUB_CLIENT_SECRET={{ rux_github_client_secret | to_json }}
RUX_GITHUB_CALLBACK_URL={{ rux_github_callback_url | to_json }}
RUX_TRUSTED_PROXY_CIDRS="127.0.0.0/8,::1/128"
RUX_REQUEST_TIMEOUT_SECONDS={{ (rux_request_timeout_seconds | string) | to_json }}
RUX_PUBLICATION_TIMEOUT_SECONDS={{ (rux_publication_timeout_seconds | string) | to_json }}
RUX_RATE_LIMIT_READ_PER_MINUTE={{ (rux_rate_limit_read_per_minute | string) | to_json }}
RUX_RATE_LIMIT_READ_BURST={{ (rux_rate_limit_read_burst | string) | to_json }}
RUX_RATE_LIMIT_SECURITY_PER_MINUTE={{ (rux_rate_limit_security_per_minute | string) | to_json }}
RUX_RATE_LIMIT_SECURITY_BURST={{ (rux_rate_limit_security_burst | string) | to_json }}
RUX_RATE_LIMIT_MUTATION_PER_MINUTE={{ (rux_rate_limit_mutation_per_minute | string) | to_json }}
RUX_RATE_LIMIT_MUTATION_BURST={{ (rux_rate_limit_mutation_burst | string) | to_json }}
RUX_RATE_LIMIT_PUBLICATION_PER_MINUTE={{ (rux_rate_limit_publication_per_minute | string) | to_json }}
RUX_RATE_LIMIT_PUBLICATION_BURST={{ (rux_rate_limit_publication_burst | string) | to_json }}
RUX_UPLOAD_TEMPORARY_DIRECTORY="/var/lib/rux-server/uploads"
RUX_UPLOAD_TEMPORARY_CAPACITY_BYTES={{ (rux_upload_temporary_capacity_bytes | string) | to_json }}
RUX_UPLOAD_MAX_CONCURRENCY={{ (rux_upload_max_concurrency | string) | to_json }}
RUX_METRICS_BIND_ADDRESS="127.0.0.1:9464"
RUX_METRICS_ALLOW_NON_LOOPBACK="false"
RUX_DEPENDENCY_PROBE_INTERVAL_SECONDS={{ (rux_dependency_probe_interval_seconds | string) | to_json }}
RUST_LOG={{ rux_rust_log | to_json }}
OTEL_TRACES_EXPORTER="none"
OTEL_SERVICE_NAME="rux-server"
