[global]
{% if rux_backup_repo_type == 's3' %}
repo1-type=s3
repo1-path={{ rux_backup_repo_path }}
repo1-s3-bucket={{ rux_backup_bucket }}
repo1-s3-endpoint={{ rux_backup_endpoint | regex_replace('^https://', '') }}
repo1-s3-region={{ rux_backup_region }}
repo1-s3-key={{ rux_backup_access_key }}
repo1-s3-key-secret={{ rux_backup_secret_key }}
repo1-s3-uri-style=host
repo1-storage-verify-tls=y
repo1-cipher-type=aes-256-cbc
repo1-cipher-pass={{ rux_backup_cipher_passphrase }}
{% else %}
repo1-type=posix
repo1-path={{ rux_backup_local_path }}
{% endif %}
repo1-retention-full=5
repo1-retention-diff=14
repo1-retention-archive=5
repo1-retention-archive-type=full
compress-type=zst
process-max=2
log-level-console=info
log-level-file=detail
log-path=/var/log/pgbackrest

[registry]
pg1-path=/var/lib/postgresql/18/main
pg1-port=5432
