RUX_PLAYGROUND_SOCKET={{ playground_socket_path | to_json }}
RUX_PLAYGROUND_IMAGE={{ ('rux-playground:' ~ playground_rux_version) | to_json }}
RUX_PLAYGROUND_JOBS_ROOT={{ playground_jobs_root | to_json }}
RUX_PLAYGROUND_DOCKER_BINARY="/usr/bin/docker"
RUX_PLAYGROUND_PACKAGES={{ playground_allowlist | to_json }}
RUX_PLAYGROUND_MEMORY_BYTES={{ (playground_memory_bytes | string) | to_json }}
RUX_PLAYGROUND_CPU_MILLIS={{ (playground_cpu_millis | string) | to_json }}
RUX_PLAYGROUND_COMPILE_TIMEOUT_SECONDS={{ (playground_compile_timeout_seconds | string) | to_json }}
RUX_PLAYGROUND_RUN_TIMEOUT_SECONDS={{ (playground_run_timeout_seconds | string) | to_json }}
RUX_PLAYGROUND_MAX_CONCURRENCY={{ (playground_max_concurrency | string) | to_json }}
RUX_PLAYGROUND_REQUEST_TIMEOUT_SECONDS={{ (playground_request_timeout_seconds | string) | to_json }}
RUST_LOG={{ playground_rust_log | to_json }}
OTEL_TRACES_EXPORTER="none"
OTEL_SERVICE_NAME="rux-playgroundd"
