listen_addresses = '127.0.0.1,::1'
password_encryption = 'scram-sha-256'
ssl = on
log_connections = off
log_disconnections = off
log_statement = 'none'
log_min_duration_statement = 1000
archive_mode = on
archive_command = '/usr/bin/pgbackrest --stanza=registry archive-push %p'
archive_timeout = '300s'
