[Unit]
Description=Weekly Rux Server PostgreSQL full backup

[Timer]
OnCalendar=Sun *-*-* 02:00:00 UTC
RandomizedDelaySec=15m
Persistent=true
Unit=rux-pgbackrest-backup@full.service

[Install]
WantedBy=timers.target
