[defaults]
inventory = inventory/production.yml
interpreter_python = auto_silent
retry_files_enabled = false
roles_path = roles
stdout_callback = default

[privilege_escalation]
become = true

[ssh_connection]
pipelining = true
